


<div class="container-fluid">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1>Form : {{model.currentForm.title}}</h1>
            <ul class = "nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/form/{{field._id}}/fields">Fields</a></li>
            </ul>
            <form class = "form-horizontal form_style" ng-model="model.fields" ui-sortable="model.fields">


                <div class="form-group " ng-switch="field.type" ng-repeat="field in model.fields">
                    <div ng-switch-when="TEXT" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <input type="text" placeholder="{{field.placeholder}}" class="form-control ">
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success" ng-mouseup="model.check(model.fields)"></span>
                        </div>

                    </div>

                    <div ng-switch-when="TEXTAREA" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <textarea placeholder="{{field.placeholder}}" class="form-control "></textarea>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="DATE" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <input type="date" placeholder="{{field.placeholder}}" class="form-control ">
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="OPTIONS" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <select class="col-sm-6 form-control">
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="CHECKBOXES" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 checkbox-group">
                            <div ng-repeat="checkbox in field.options">
                                <input type="checkbox" value="{{checkbox.value}}">
                                {{checkbox.label}}
                            </div>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="RADIOS " class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 radio-group">
                            <div ng-repeat="radio in field.options">
                                <input type="radio" >{{radio.label}}<br/>
                            </div>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>


                </div>

                <hr>

                <div class="form-group  dropdown">

                    <label>Add New Field:</label>
                    <br/>
                    <div class="col-sm-6" align="right">
                        <select class="col-sm-6 form-control" ng-model="model.fieldType">
                            <option value="singleText">Single Text Field</option>
                            <option value="date">Date</option>
                            <option value="dropDown">Dropdown</option>
                            <option value="checkBoxes">Checkboxes</option>
                            <option value="radioButtons">Radio Buttons</option>
                            <option value="paragraphTextField">Paragraph Text Field</option>
                        </select>
                    </div>

                    <div class="col-sm-2 col-sm-offset-4" align="right">
                        <span ng-click="model.addField(model.fieldType)" class="glyphicon glyphicon-plus btn btn-warning"></span>
                    </div>
                </div>


            </form>

            <div id="editField" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">{{model.modalHeading}}</h3>
                        </div>
                        <div class="modal-body" ng-switch="model.field.type">
                            <div ng-switch-when="TEXT">
                                <div>
                                    <label>Label</label>
                                    <input ng-model="model.field.label" class="form-control" type="text"
                                            placeholder="Label">
                                    <br/>
                                    <label>Placeholder</label>
                                    <input ng-model="model.field.placeholder" class="form-control" type="text"
                                           placeholder="Placeholder">
                                </div>
                            </div>
                                <div ng-switch-when="TEXTAREA">
                                    <div>
                                        <label>Label</label>
                                        <input ng-model="model.field.label" class="form-control" type="text"
                                               placeholder="Label">
                                        <br/>
                                        <label>Placeholder</label>
                                        <input ng-model="model.field.placeholder" class="form-control" type="text"
                                               placeholder="Placeholder">
                                    </div>
                                </div>

                                <div ng-switch-when="DATE">
                                    <div>
                                        <label>Label</label>
                                        <input ng-model="model.field.label" class="form-control" type="text"
                                               placeholder="Label">
                                    </div>
                                </div>

                                <!--Needs Fixing-->
                                <div ng-switch-when="OPTIONS">
                                <div>
                                    <label>Label</label>
                                    <input ng-model="model.field.label" class="form-control" type="text"
                                           placeholder="Label">
                                    <br/>
                                    <label>Options</label>
                                    <textarea ng-model="model.newOptions" class="form-control" type="text"
                                           placeholder="Options", ng-list="&#10;" ng-trim="false">
                                        {{model.newOptions}}
                                    </textarea>
                                </div>
                            </div>

                            <div ng-switch-when="CHECKBOXES">
                                <div>
                                    <label>Label</label>
                                    <input ng-model="model.field.label" class="form-control" type="text"
                                           placeholder="Label">
                                    <br>
                                    <label>Options</label>
                                 <textarea ng-model="model.newOptions" class="form-control"
                                           placeholder="Options" ng-list="&#10;" ng-trim="false">
                                     {{model.newOptions}}
                                 </textarea>
                                </div>
                            </div>
                            <!--Some thing wrong here-->
                            <div ng-switch-when="RADIOS">
                                <div>
                                    <label>Label</label>
                                    <input ng-model="model.field.label" class="form-control" type="text"
                                           placeholder="Label">
                                    <br>
                                    <label>Options</label>
                                 <textarea ng-model="model.newOptions" class="form-control"
                                            ng-list="&#10;" ng-trim="false">
                                     {{model.newOptions}}
                                 </textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button"
                                        data-dismiss="modal"
                                        ng-click="model.updateField(model.field)">
                                    OK
                                </button>
                                <button class="btn btn-warning"
                                        type="button"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

