


<div class="container-fluid">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1>Form : {{model.currentForm.title}}</h1>
            <ul class = "nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/form/{{field._id}}/fields">Fields</a></li>
            </ul>
            <form class = "form-horizontal form_style" ng-model="model.fields">


                <div class="form-group " ng-switch="field.type" ng-repeat="field in model.fields">
                    <div ng-switch-when="TEXT" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <input type="text" placeholder="{{field.placeholder}}" class="form-control ">
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="TEXTAREA" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <textarea placeholder="{{field.placeholder}}" class="form-control "></textarea>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="DATE" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <input type="date" placeholder="{{field.placeholder}}" class="form-control ">
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="OPTIONS" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 ">
                            <select class="col-sm-6 form-control">
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="CHECKBOXES" class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 checkbox-group">
                            <div ng-repeat="checkbox in field.options">
                                <input type="checkbox" value="{{checkbox.value}}">
                                {{checkbox.label}}
                            </div>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>

                    <div ng-switch-when="RADIOS " class="form-group">
                        <label>{{field.label}}</label>
                        <br/>
                        <div class="col-xs-8 radio-group">
                            <div ng-repeat="radio in field.options">
                                <input type="radio" >{{radio.label}}<br/>
                            </div>
                        </div>

                        <div class="col-sm-4" align="right">
                    <span class="glyphicon glyphicon-pencil btn btn-primary"
                          ng-click="model.editField(field)"
                          data-toggle="modal" data-target="#editField"></span>
                            <span class="glyphicon glyphicon-plus btn btn-warning"></span>
                    <span class="glyphicon glyphicon-remove  btn btn-danger"
                          ng-click="model.removeField(field)"></span>
                            <span class="glyphicon glyphicon-menu-hamburger btn btn-success"></span>
                        </div>

                    </div>





                </div>

                <hr>













            </form>
        </div>

    </div>

