
<!-- Custom styles for this template -->
<!-- Have to get background image here properly-->
<div class="container-fluid" >

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


                <p class = "homepage">
                    In the next century, planet earth will don an electronic skin.
                    It will use the Internet as a scaffold to support and transmit
                    its sensations.
                </p>
        </div>
</div>


<!-- This skin is already being stitched together.
                    It consists of millions of embedded electronic measuring devices:
                    thermostats, pressure gauges, pollution detectors, cameras, microphones,
                    glucose sensors, EKGs, electroencephalographs. These will probe and monitor
                    cities and endangered species, the atmosphere, our ships, highways and
                    fleets of trucks, our conversations, our bodies--even our dreams.-->